/* === GLOBAL STYLES === */
body {
  background-image: url("./Img/t800.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

.stats {
  background-image: url("./Img/fondoStats.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  color: #5f5f5f;
}

button {
  padding: 10px 20px;
}

/* === HEADER === */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 45%;
  height: auto;
}

/* === TITLES === */
#titulo1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #bcbcbc;
}

/* === TABLE CONTAINER === */
.table-container {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

#cajaEstadisticas {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo con transparencia */
  padding: 20px; /* Espaciado interno */
  border-radius: 0px; /* Bordes cuadrados */
  text-align: center; /* Alinea el texto en el centro */
  display: inline-block !important; /* Asegura que el contenedor se ajuste al contenido */
  max-width: 50%; /* Establece un límite para el ancho máximo */
  width: auto; /* Asegura que el contenedor no se expanda más allá del contenido */
}


/* === ICONS === */
.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.icon {
  font-size: 80px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #333;
}

.icon:hover {
  transform: scale(1.1);
  color: #c20a0a;
}

.icon p {
  text-align: center;
  font-weight: lighter;
}

/* === FORM === */
form label {
  margin-right: 15px;
}
